<% provide(:title, "About") %>
    <h1>Not much to write About</h1>
    <h3>This site is just for kicks and giggles. Vent all you want, about
    whatever you want. Give your peers a chance to hear your situation and
    decide if you are being a crybaby, or if they can empathize with you.</h3>
  </body>
</html>
