<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Ventapp</title>
  </head>
  <body>
    <h1>Seeking Help?</h1>
    <h3>Currently there is no help to be found anywhere. I'll keep looking for
    someone as opporunity allows.</h3>
  </body>
</html>
