<div class="center jumbotron">
  <h1>This is your Home, Vent all you want!</h1>

  <h3>Vent like you were in the comfort of your own home. Don't hold back. Let it all out</h3>
    <p>
      <a href="http://www.artgarciajr.com">Who am I</a>?
    </p>

    <%= link_to "Sign up now!" , signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Vlogo4.png", size: "110x127", alt: "Vent logo"),
            'http://www.artgarciajr.com/' %>
